<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Assignment -->
      <package
            uri="platform:/plugin/tdt4250/model/Assignment.ecore"
            class="TDT4250.Assignment.AssignmentPackage"
            genModel="model/Assignment.genmodel"/>
   </extension>

</plugin>
